IEToolbarEngineSources/IEToolbarEngine/Web References/WebReferenceCheckLogin/LoginCheckService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://services.cxf.qianye.com/" name="LoginCheckService" targetNamespace="http://services.cxf.qianye.com/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xs:schema xmlns:tns="http://services.cxf.qianye.com/" elementFormDefault="unqualified" targetNamespace="http://services.cxf.qianye.com/" version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
      <xs:element name="loginCheckService" type="tns:loginCheckService" />
      <xs:element name="loginCheckServiceResponse" type="tns:loginCheckServiceResponse" />
      <xs:complexType name="loginCheckService">
        <xs:sequence>
          <xs:element minOccurs="0" name="verifyCode" type="xs:string" />
          <xs:element minOccurs="0" name="companyName" type="xs:string" />
          <xs:element minOccurs="0" name="userName" type="xs:string" />
          <xs:element minOccurs="0" name="password" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="loginCheckServiceResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="loginCheckService">
    <wsdl:part name="parameters" element="ns1:loginCheckService" />
  </wsdl:message>
  <wsdl:message name="loginCheckServiceResponse">
    <wsdl:part name="parameters" element="ns1:loginCheckServiceResponse" />
  </wsdl:message>
  <wsdl:portType name="LoginCheckService">
    <wsdl:operation name="loginCheckService">
      <wsdl:input name="loginCheckService" message="ns1:loginCheckService" />
      <wsdl:output name="loginCheckServiceResponse" message="ns1:loginCheckServiceResponse" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>